<section class="p-5 size-full max-w-full">
    <div class="
    flex-col
    md:flex-row
    md:flex-grow
    py-3 px-12 
    flex 
    md:justify-between 
    md:items-center 
    gap-x-90">
    <h1 class="text-[#004E49] text-3xl font-bold mb-3 md:mb-0 md:mr-12">My Classroom</h1>
    <button class="
    md:ml-12
    px-5 py-3
    flex 
    items-center 
    gap-2 
    button">
    <mat-icon>
    event
    </mat-icon>
    Class Schedule
    </button>
    </div>
    <hr class="hidden md:block mt-3 mx-12 h-5 flex bg-gray-400/25 rounded-full">
    <div class="flex flex-wrap justify-center">
        <div 
        *ngFor="let class of classes; index as i;"
        class="rounded-xl m-2 lg:m-5 w-[520px] md:max-[1023px]:w-[380px] lg:w-[320px] min-[1025px]:w-[360px] shadow-slate-300 shadow-lg">
            <div class="
            p-2
            bg-slate-50/40 
            flex flex-col 
            justify-between 
            h-full w-full 
            backdrop-blur-sm 
            border-1 
            border-white 
            rounded-xl">
                <div         
                class="
                min-h-32
                bg-[url(assets/images/CARD_BG.png)]
                bg-cover
                bg-center
                bg-no-repeat
                mt-4
                m-3
                p-2
                rounded-xl
                bg-green-500">
                <p class="text-white font-base text-sm">{{ class.classCode }}</p>
                <p class="text-white font-semibold text-md">{{ class.name }}</p>
                <p class="text-white font-base text-sm">{{ class.time }}</p>
                <p class="text-white font-base text-sm">{{ class.roomNo }}</p> 
                </div>
            <button 
            class="
            self-end
            my-1 
            mr-3
            px-5
            py-2 
            button"
            routerLink="view-class"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">
            View Class
            </button>           
            </div>
        </div>
    </div>
</section>
