<div 
class="
w-[375px] md:w-[80%]
m-auto
">

<div
class="
flex 
flex-wrap 
items-center 
w-full h-full
bg-slate-50/40
backdrop-blur-sm  
my-5 
border-t-4
border-b-4
border-cyan-700
shadow-lg 
shadow-slate-300
rounded-xl
">

<div
class="
flex
flex-col
bg-[url(assets/images/CARD_BG.png)]
bg-center
bg-no-repeat
bg-cover
w-full
h-40
mb-5
border-b-2
border-slate-50
rounded-t-lg
rounded-br-lg
md:mb-10
md:border-b-4
">
<div
class="
h-12
bg-slate-50
text-cyan-600
py-2
pl-10 pr-5
flex
items-center
gap-5
justify-between
mt-auto mr-auto
text-xl
border-t-4
border-cyan-700
rounded-tr-2xl
md:text-2xl
md:gap-28
md:rounded-tr-lg
">
<h1
class="
font-bold
">
Add Student
</h1>
<mat-icon>person_add</mat-icon>
</div>
</div>

<form action="" method="post"
class="
w-full
text-md
flex
flex-col
flex-wrap
justify-center
items-center
md:px-10
md:flex-row
md:justify-between
">

<div
class="
mb-5
flex
flex-col
w-[80%]
md:w-[45%]
">
<label for="program"
class="
font-bold
">
Program
</label>
<select type="text"
class="
w-full
mb-5
p-3
rounded-lg
outline-indigo-600
">
<option disabled selected value="default_class">Select program</option>
<option value="bscs">BSCS</option>
<option value="bsit">BSIT</option>
</select>
</div>

<div
class="
mb-5
flex
flex-col
w-[80%]
md:w-[45%]
">
<label for="year"
class="
font-bold
">
Year
</label>
<select type="text"
class="
w-full
mb-5
p-3
rounded-lg
outline-indigo-600
">
<option disabled selected value="default_class">Select year level</option>
<option value="1">1st year</option>
<option value="2">2nd year</option>
<option value="3">3rd year</option>
<option value="4">4th year</option>
</select>
</div>

<div
class="
mb-5
flex
flex-col
w-[80%]
md:w-[45%]
">
<label for="block"
class="
font-bold
">
Block
</label>
<select type="text"
class="
w-full
mb-5
p-3
rounded-lg
outline-indigo-600
">
<option disabled selected value="default_dept">Select block</option>
<option value="A">Block A</option>
<option value="B">Block B</option>
<option value="C">Block C</option>
<option value="D">Block D</option>
<option value="E">Block E</option>
</select>
</div>

<div
class="
mb-5
flex
flex-col
w-[80%]
md:w-[45%]
">
<label for="class"
class="
font-bold
">
Student Name
</label>
<select type="text"
class="
w-full
mb-5
p-3
rounded-lg
outline-indigo-600
">
<option disabled selected value="default_class">Select student</option>
<option value="student1">Student 1</option>
<option value="student2">Student 2</option>
<option value="student3">Student 3</option>
<option value="student4">Student 4</option>
<option value="student5">Student 5</option>
</select>
</div>

<div
class="
mb-5
flex
flex-col
w-[80%]
md:w-[45%]
">
<label for="class"
class="
font-bold
">
Class Name
</label>
<select type="text"
class="
w-full
mb-5
p-3
rounded-lg
outline-indigo-600
">
<option disabled selected value="default_class">Select class</option>
<option value="class1">Class 1</option>
<option value="class2">Class 2</option>
<option value="class3">Class 3</option>
<option value="class4">Class 4</option>
<option value="class5">Class 5</option>
</select>
</div>

<span
class="
button
flex
items-center
gap-2
pl-10 pr-5 py-2.5
mb-5
md:ml-auto
">
<input type="submit" value="Add to Class">
<mat-icon>arrow_forward</mat-icon>
</span>

</form>

</div>

</div>