<section>
    <div class="max-h-screen">
    <div class="h-12">
        <div class="
        px-10
        h-full w-full
        bg-gradient-to-r from-orange-300 to-red-500
        border-1
        border-gray-200
        flex 
        justify-between 
        items-center">
            <div class="sm:hidden flex">
            <button>
            <mat-icon 
            class="
            text-2xl 
            text-white 
            hover:text-slate-300"
            >
            menu
            </mat-icon>
            </button>
            </div>
            <div class="flex">
            <img class="h-7 ml-8" src="assets/images/GCAMS_LOGO.png" alt="GCAMS logo">
            </div>
            <div class="text-white text-sm font-semibold hidden sm:block flex items-center">
                <p class="flex items-center gap-2"><mat-icon>event</mat-icon> {{ app.currDay }} - {{ app.currDate }} - {{ app.currTime }}</p>
            </div>
        </div>
    </div>
    </div>
</section>
<router-outlet></router-outlet>