<section>
    <div class="max-h-screen">
    <div class="h-12">
        <div class="
        px-10
        h-full w-full
        bg-gradient-to-l from-cyan-700/80 to-green-700/80
        backdrop-blur-sm
        border-1
        border-gray-200
        flex 
        justify-between 
        items-center">
            <div class="sm:hidden flex">
            <button>
            <mat-icon 
            class="
            text-2xl 
            text-white 
            hover:text-slate-300"
            >
            menu
            </mat-icon>
            </button>
            </div>
            <div class="flex">
            <img class="h-7 ml-8" src="assets/images/GCAMS_LOGO.png" alt="GCAMS logo">
            </div>
            <div class="hidden sm:block flex">
            <button class="bg-white text-black font-bold py-1 px-7 rounded-full mr-3 hover:bg-blue-300 active:bg-blue-400">
            Guide
            </button>
            <button class="bg-white text-black font-bold py-1 px-7 rounded-full mr-12 hover:bg-blue-300 active:bg-blue-400">
            FAQ
            </button>
            </div>
        </div>
    </div>
    </div>
</section>
<router-outlet></router-outlet>