<div
  class="Desktop1"
  style="
    width: 1924px;
    height: 969px;
    padding-top: 217px;
    padding-bottom: 217px;
    padding-left: 579px;
    padding-right: 380px;
    background: black;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
  "
>
  <div class="Group14" style="width: 965px; height: 535px; position: relative">
    <div
      class="Rectangle253"
      style="
        width: 781px;
        height: 535px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      "
    ></div>
    <img
      class="Rectangle252"
      style="
        width: 747px;
        height: 500px;
        left: 15px;
        top: 18px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      "
      src="../../../../assets/images/cardbg.jpg"
    />
    <div
      class="Info"
      style="
        width: 839px;
        height: 217px;
        left: 126px;
        top: 208px;
        position: absolute;
      "
    >
      <div
        class="JuanDelaCruz"
        style="
          width: 837px;
          height: 172px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 38px;
          font-family: Helvetica;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Juan Dela Cruz
      </div>
      <div
        class="Bscs2c"
        style="
          width: 837px;
          height: 172px;
          left: 2px;
          top: 45px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 30px;
          font-family: Helvetica;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        202211836 - BSCS 2C
      </div>
    </div>
    <img
      class="Avatar"
      style="
        width: 213px;
        height: 216px;
        left: 50px;
        top: 158px;
        position: absolute;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 9999px;
        border: 10px white solid;
      "
      src="../../../../assets/images/instructoravatar.jpg"
    />
    <div
      class="Timecode"
      style="
        width: 370px;
        height: 47px;
        left: 360px;
        top: 305px;
        position: absolute;
      "
    >
      <div
        class="Timebg"
        style="
          width: 370px;
          height: 45px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(90deg, #1d49ba 0%, #105df2 100%);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        "
      ></div>
      <div
        class="3122AmThursday"
        style="
          width: 342px;
          height: 39px;
          left: 16px;
          top: 4px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 24px;
          font-family: Helvetica;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        7:31:22 AM - Thursday
      </div>
    </div>
    <div
      class="Logo"
      style="
        width: 218.31px;
        height: 60px;
        left: 436px;
        top: 62px;
        position: absolute;
      "
    >
      <div
        class="GordonCollegeAttendanceMonitoringSystem"
        style="
          width: 138px;
          height: 19px;
          left: 63px;
          top: 41px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 6px;
          font-family: Helvetica;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Gordon College Attendance Monitoring System
      </div>
      <img
        class="Ellipse2"
        style="
          width: 55.38px;
          height: 56.15px;
          left: 0px;
          top: 0px;
          position: absolute;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 9999px;
        "
        src="../../../../assets/images/OFFICIAL_LOGO.png"
      />
      <div
        class="Gcams"
        style="
          width: 172.31px;
          height: 36.92px;
          left: 46px;
          top: 2px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 37px;
          font-family: Helvetica;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        GCAMS
      </div>
    </div>
    <div
      class="Status"
      style="
        width: 170px;
        height: 33px;
        left: 462px;
        top: 153px;
        position: absolute;
      "
    >
      <div
        class="Rectangle250"
        style="
          width: 136px;
          height: 33px;
          left: 17px;
          top: 0px;
          position: absolute;
          background: #ff7a00;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
        "
      ></div>
      <div
        class="Late"
        style="
          width: 170px;
          height: 27px;
          left: 0px;
          top: -1px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 24px;
          font-family: Helvetica;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Late
      </div>
    </div>
    <div
      class="Rectangle251"
      style="
        width: 267px;
        height: 94px;
        left: 480px;
        top: 380px;
        position: absolute;
        background: rgba(217, 217, 217, 0);
      "
    >
      <div class="check-container">
        <div class="check-background">
          <svg
            viewBox="0 0 65 51"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 25L27.3077 44L58.5 7"
              stroke="white"
              stroke-width="13"0
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="check-shadow"></div>
      </div>
    </div>
  </div>
</div>
