<section>
    <div class="
    flex 
    min-h-[calc(100dvh-3rem)]
    max-h-[calc(100dvh-3rem)]
    bg-emerald-50/40
    ">
        <div class="hidden min-[1024px]:block flex flex-col">
            <div class="
            bg-orange-500
            border-r-1 border-white
            shadow-gray-300
            shadow-lg
            rounded-br-3xl
            min-h-full
            w-48 
            text-base 
            py-7
            flex 
            flex-col 
            content-center 
            justify-between 
            items-center"
            >
            <div class="flex flex-col items-center">
            <img class="
            h-[100px]
            border-4
            border-white/80
            rounded-full
            mb-4"
            src="assets/images/instructoravatar.jpg" alt="AVATAR">
            <span class="text-white font-bold">Pepito Manaloto</span>
            <span class="text-white font-bold">Instructor</span>
                <div class="flex flex-col mt-8">
                <div 
                class="
                flex
                items-center
                ">
                <span autofocus [ngClass]="this.router.url === '/menu/instructor/dashboard' ? 
                'text-cyan-700' : ''" 
                class="
                flex 
                items-center 
                w-full
                gap-2 
                px-4 py-2
                text-sm
                text-white
                hover:cursor-pointer
                hover:text-cyan-900
                focus:outline-none" 
                routerLink="dashboard" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                <mat-icon>dashboard</mat-icon>
                Dashboard
                </span>
                <span autofocus [ngClass]="this.router.url === '/menu/instructor/dashboard' ? 
                'bg-green-400' : 'bg-slate-400'"
                class="
                w-4
                ml-auto
                h-[35%]
                rounded-full">
                </span>
                </div>
                <div 
                class="
                flex
                items-center
                ">
                <span 
                [ngClass]="this.router.url === '/menu/instructor/manage-class' ? 
                'text-cyan-700' : ''"
                class="
                flex 
                items-center 
                w-full
                gap-2
                px-4 py-2
                text-sm
                text-white
                hover:text-cyan-900
                hover:cursor-pointer
                focus:outline-none"
                routerLink="manage-class"
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">
                <mat-icon>folder_open</mat-icon>
                Manage Class
                </span>
                <span autofocus [ngClass]="this.router.url === '/menu/instructor/manage-class' ? 
                'bg-green-400' : 'bg-slate-400'"
                class="
                w-4
                ml-auto
                h-[35%]
                rounded-full">
                </span>
                </div>
                </div>
            </div>
            <div class="mt-8 flex flex-col gap-2">
            <button class="
            text-white
            flex
            justify-self-end 
            items-center 
            gap-2 
            p-3 px-8
            border-t-2
            border-gray-300
            ">
            <mat-icon>exit_to_app</mat-icon>
            Log Out
            </button>
            </div>
            </div>
        </div>
        <div class="
        flex flex-col
        object-contain 
        max-h-[100dvh-3rem] 
        overflow-auto">
        <router-outlet></router-outlet>
        </div>
    </div>
</section>