<section>
    <div class="min-h-dvh">
        <div class="w-[375px] md:w-[96%]">
        <div 
        class="
        flex 
        flex-wrap 
        items-center 
        w-full h-full
        bg-slate-50  
        my-5 md:m-5
        shadow-lg 
        shadow-slate-300
        rounded-3xl
        ">
        <ul 
        class="
        w-full 
        flex 
        justify-center 
        items-center 
        text-sm
        text-white 
        bg-gradient-to-br 
        from-cyan-700
        to-indigo-600
        rounded-t-3xl">
            <button
            class="
            w-full
            p-3 
            flex
            justify-center 
            items-center 
            gap-2
            rounded-t-3xl"
            [disabled]="clickedAtten"
            (click)="isClicked(); isActive();"
            [ngClass]="navAtten === true ? 'bg-cyan-50 text-cyan-700 border-b-2 border-cyan-700/40' : 'border-none'"
            ><mat-icon>how_to_reg</mat-icon><li>Attendance</li></button>
            <button 
            class="
            w-full
            p-3
            flex 
            justify-center
            items-center 
            gap-2
            rounded-t-3xl"
            [disabled]="clickedClass"
            (click)="isClicked(); isActive();"
            [ngClass]="navClass === true ? 'bg-cyan-50 text-cyan-700 border-b-2 border-cyan-700/40' : 'border-none'"
            ><mat-icon>list_alt</mat-icon><li>Class List</li></button>
        </ul>

        <div
        class="
        flex 
        flex-wrap 
        items-center 
        w-full h-full"
        [ngClass]="navAtten === true ? 'block' : 'hidden'" 
        >
            <h1 
            class="
            w-full
            mt-5
            text-xl md:text-2xl
            text-center 
            text-cyan-700 
            font-bold">Subject Name</h1>
            <table 
            class="
            md:hidden 
            mx-1 mb-5 
            border-spacing-3 
            table-fixed 
            w-full"
            >
                <caption class="flex justify-center items-center w-full">
                    <h1 class="text-sm m-3">Class Attendance | {{ this.date }} | Class Schedule</h1>
                </caption>
                <tr class="text-sm text-cyan-900 p-2 w-full flex flex-wrap gap-2 justify-center items-center p-2">
                    <th class="w-20">Last Name</th>
                    <th class="w-20">First Name</th>
                    <th class="w-20">Time In</th>
                    <th class="w-20">Status</th>
                </tr>
                <tr *ngFor="let item of attendance; index as i;"
                class="text-sm text-center w-full flex flex-wrap gap-2 justify-center items-center p-2 border-b-2 border-slate-300">
                    <td class="w-20">{{ item.lastName }}</td>
                    <td class="w-20">{{ item.firstName }}</td>
                    <td class="w-20">{{ item.timeIn }}</td>
                    <td class="w-20">{{ item.status }}</td>
                </tr>
            </table>
            <table 
            class="
            hidden md:block 
            mx-5
            mb-5 
            border-spacing-3 
            w-full"
            >
                <caption class="flex justify-center items-center w-full">
                    <h1 class="w-full text-sm m-3">Class Attendance | {{ this.date }} | Class Schedule</h1>
                </caption>
                <tr class="text-sm text-cyan-900 p-2 w-full flex flex-wrap justify-center gap-3 items-center p-2">
                    <th class="w-24">Last Name</th>
                    <th class="w-24">First Name</th>
                    <th class="w-24">Date</th>
                    <th class="w-24">Time Start</th>
                    <th class="w-24">Time In</th>
                    <th class="w-24">Status</th>
                </tr>
                <tr *ngFor="let item of attendance; index as i;"
                class="text-sm text-center w-full flex flex-wrap justify-center gap-3 items-center p-2 border-b-2 border-slate-300">
                    <td class="w-24">{{ item.lastName }}</td>
                    <td class="w-24">{{ item.firstName }}</td>
                    <td class="w-24">{{ item.date }}</td>
                    <td class="w-24">{{ item.timeSched }}</td>
                    <td class="w-24">{{ item.timeIn }}</td>
                    <td class="w-24">{{ item.status }}</td>
                </tr>
            </table>
        </div>

        <div
        class="
        flex 
        flex-wrap
        justify-between 
        items-center 
        w-full h-full"
        [ngClass]="navClass === true ? 'block' : 'hidden'" 
        >
        <h1
        class="
        w-full
        mt-5
        text-xl md:text-2xl
        text-center 
        text-cyan-700 
        font-bold">
        Class List
        </h1>
        <p class="text-sm text-center w-full">Subject Name | Class Schedule</p>
        <hr class="bg-slate-300 h-0.5 my-2 mx-20 w-full">

        <div 
        class="
        flex
        flex-wrap
        gap-5
        justify-between
        items-center
        m-5"
        *ngFor="let student of class; index as i;">
        <img 
        class="
        bg-slate-300
        h-14 w-14
        border-4
        border-blue-700
        rounded-full" 
        src="" 
        alt="avatar">
        <div class="text-sm">
        <p class="text-bold">{{ student.fname }} {{ student.lname}}</p>
        <p>{{ student.email }}</p>
        </div>
        </div>

        </div>

        </div>
        </div>
    </div>
</section>
