/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply 
        text-white 
        bg-gradient-to-br 
        from-orange-400
        to-red-500
        rounded-full 
        hover:bg-gradient-to-br 
        hover:from-orange-500 
        hover:to-red-600
        active:bg-gradient-to-br
        active:from-orange-600
        active:to-red-700;
    }
    .button2 {
        @apply 
        text-white 
        bg-gradient-to-br 
        from-lime-400
        to-emerald-500
        rounded-full 
        hover:bg-gradient-to-br 
        hover:from-lime-500 
        hover:to-emerald-600
        active:bg-gradient-to-br
        active:from-lime-600
        active:to-emerald-700;
    }
}

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background: url('assets/images/bg.jpg') center center no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}