/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background: url('assets/images/bg.jpg') center center no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}